align-items: center;
        }

            .header_d i {
                font-size: 18px; /* Kích thước biểu tượng */
                margin-right: 5px; /* Khoảng cách giữa biểu tượng và chữ */
                color: #007bff; /* Màu của biểu tượng */
            }

            .header_d .address {
                margin-left: 5px; /* Khoảng cách giữa chữ 'Giao đến' và địa chỉ */
                font-weight: bold;
                text-decoration: underline; /* Thêm gạch chân dưới địa chỉ */
                color: black;
            }

    </style>
</head>
<body>
    <tr>
        <img src="~/Content/images/462536759_942526344378185_9123961204925773474_n.png" />
        </tr>
    <div id="TrangChu">
        <header>
            <div id="container">
                <div class="left">
                    <div class="logo">
                        <img src="~/Controllers/img/LoGo.png" />
                    </div>
                    <div class="header_d">Tiki</div>
                </div>

                

                <div class="right">
                    <nav>
                        <ul>
                            <li><a href="#"><i class="fas fa-home"></i> Trang chủ</a></li>
                            <li><a href="#"><i class="fas fa-chess-queen"></i> Astra</a></li>
                            <li><a href="#"><i class="far fa-smile"></i> Tài khoản</a></li>
                            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                        </ul>
                    </nav>
                    <div class="header_d">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Giao đến:</span>
                        <span class="address">Nguyễn Minh Tuấn :0912059519 
                        Q.Tân Bình , Hồ Chí Minh</span>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>